html,body{
    padding:0;margin:0;width:100%;
    height:100%;overflow: hidden;
}
.scene{
    width:100%;height:100%;position: absolute;
    left:0;top:0;perspective: 500px;

}
.scene .room{
    width:100%;height:100%;position: absolute;
    left:0;top:0;transform-style: preserve-3d;


}


.scene .room .panel{
    position: absolute;left:0;top:0;width:100%;height:100%;
    backface-visibility: visible;transform-style: preserve-3d;
}
.scene .room .panel:nth-child(1){
    background: url(../img/tianhuaban2.jpg);
    background-size: 100px 100px;
    transform-origin: top;
    transform: rotateX(90deg);
    box-shadow: 0 0 200px #666 inset;
}

.scene .room .panel:nth-child(2){
    background: #ccc;
    background-image: url("../img/qiangzhi.jpg");
    background-repeat: repeat;
    transform-origin: left;
    transform: rotateY(-90deg);
    box-shadow: 0 0 200px #999 inset;
}

.scene .room .panel:nth-child(3){
    background: url(../img/chuanghu2.jpg) center no-repeat,url(../img/qiangzhi.jpg) center repeat ;
    box-shadow: 0 0 200px #999 inset;
}

.scene .room .panel:nth-child(4){
    background: #ccc;
    background-image: url("../img/qiangzhi.jpg");
    background-repeat: repeat;
    transform-origin: right;
    transform: rotateY(90deg);
    box-shadow: 0 0 200px #999 inset;
}


.scene .room .panel:nth-child(5){
    background: url(../img/diban1.jpg);
    transform-origin: bottom;
    transform: rotateX(-90deg);
    box-shadow: 0 0 100px #000 inset;
}

.scene .room .panel:nth-child(6){
    background: url(../img/back.png) center no-repeat,url(../img/qiangzhi.jpg) center repeat ;
}

.left .iconfont{
    width:100px;height:100px;
    float:left;margin:100px;
    background: #718dff;
    box-shadow: 0 0 5px #5694ff;
    border-radius: 5px;
    color:#FFFFFF;
    font-size:60px;
    text-align: center;
    line-height: 100px;
    transform: rotate3d(0,1,0,180deg);
    text-shadow:0 0 3px #ffaff4;overflow: hidden;

}

.right .iconfont{
    width:100px;height:100px;
    float:left;margin:100px;
    background: #718dff;
    box-shadow: 0 0 5px #5694ff;
    border-radius: 5px;
    color: #ffffff;
    font-size:60px;
    text-align: center;
    line-height: 100px;
    transform: rotate3d(0,1,0,180deg);
    text-shadow:0 0 3px rgba(255, 77, 87, 0.26);
    backface-visibility: visible;

}

